.partie11 {
	width: 96%;
	margin: 20px 2% 20px 2%;
	background-color: white;
	border-radius: 20px;
	overflow: hidden;
	padding-bottom: 50px;
}

.partie11 h1 {
	margin-top: 20px;
}

.partie11 h1,
.partie11 p {
	margin-left: 20px;

}

.mdp {
	margin-left: 30px;
}

.pass {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.mdp .pass input {
	width: 65%;
	height: 50px;
	border-radius: 8px;
	border: 0.3px solid rosybrown;
}

.text p span {
	font-weight: 700;
}

.text p {
	margin-top: 25px;
}

.verfi {
	display: flex;
	justify-content: space-between;
	margin: 30px 20px 0px 20px;
}

.verfi button {
	padding: 2px 10px 2px 10px;
	border-radius: 30px;
	background-color: rgb(111, 111, 248);
	color: white;
	border: none;
	height: 35px;
	cursor: pointer;
}

#cancel {
	background-color: rgb(124, 202, 244);
	color: black;
}