footer {
	background-color: #1a1a1a;
	margin-top: 50px;
}

.section1 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.h2 {
	font-weight: bold;
	font-size: 1.5rem;
}



.part01 {
	margin-left: 40px;
}

/*Part 2 avec la navigation direct*/

.part02 {
	display: flex;
	flex-direction: column;
}

.part02 a {
	text-decoration: none;
	color: white;
	font-size: 25px;
	margin-left: 20px;
	margin-top: 15px;



}

.part02 a:hover {
	transition: 0.5s;
	font-size: 29px;
	font-weight: bold;
}


/*Part 3 avec les contacts*/

.part03 {
	margin-left: -40px;
}

/*part 4 liens reseaux*/
.part4 {}

.rs {
	display: flex;
}

.rs a {
	display: flex;
	gap: 10px;
	text-decoration: none;
	color: white;
}

img .i {
	filter: invert(100%) brightness(100%) grayscale(100%);
}